/* form {
  border: 3px solid #f1f1f1;
}

Full-width inputs
input[type=text], input[type=password] {
  padding: 12px 20px;
  margin: 10px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

Set a style for all buttons
.btn {
  background-color: #04AA6D;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 20%;
  
}


Add a hover effect for buttons
button:hover {
  opacity: 0.8;
}


Center the avatar image inside this container
.imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
  
}

Avatar image
img.avatar {
  width: 20%;
  border-radius: 50%;
}

Add padding to containers
.container {
  padding: 16px;
}
 */

.styled-table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
      background-color: #009879;
    color: #ffffff;
    text-align: left;
}
.styled-table th,
.styled-table td {
    padding: 12px 15px;
}
.styled-table tbody tr {
    border-bottom: 1px solid #dddddd;
}
.styled-table tbody tr.active-row {
    font-weight: bold;
    color: #009879;
}
